/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

/* body {
  font: 13px/1.7em 'Open Sans' !important;
} */

main>.container {
  padding: 60px 15px 0;
}

main>.container>.container-wrapper {
  padding-top: 3rem!important;
}

.footer {
  background-color: #f5f5f5;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.nav-welcome {
  margin-bottom: 0px;
  color: white !important;
}